<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/search-bar.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">
<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../components/buttons-bar.html">

<dom-module id="container-view">
    <template>
<style include="shared-styles">
        :host {
            display: block;
            flex-direction: column;
            height: 100%;
        }

        .header{
            padding-left:11em
        }
        .layout-with-border {
            border: 1px solid blue;
        }
    </style>
<div style="width: 100%; height: 100%;">
 <search-bar id="search" field-placeholder="Search">
   &gt; 
 </search-bar>
 <vaadin-dialog on-opened-changed="_onDialogOpen" id="dialog"></vaadin-dialog>
 <div style="width: 100%; height: 100%;">
  <vaadin-grid id="grid" style="height:84%; width:68%"></vaadin-grid>
  <buttons-bar style="height:9.5%">
   <vaadin-button id="refresh" slot="right"></vaadin-button>
   <vaadin-button id="updateStatus" slot="right"></vaadin-button>
  </buttons-bar>
 </div>
</div>
</template>

    <script>
        class ContainerView extends Polymer.Element {
            static get is() {
                return 'container-view';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(ContainerView.is, ContainerView);
    </script>
</dom-module>
