<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../components/search-bar.html">
<link rel="import" href="../../../bower_components/vaadin-grid/src/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-dialog/src/vaadin-dialog.html">
<link rel="import" href="../../../styles/shared-styles.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">

<dom-module id="container-view">
    <template>
<style include="shared-styles">
        :host {
            display: block;
            flex-direction: column;
            height: 100%;
        }

        .header{
            padding-left:11em
        }
    </style>
<div style="width: 100%; height: 100%;">
 <search-bar id="search" field-placeholder="Search" <!--show-checkbox-->
   &gt; 
 </search-bar>
 <h3 class="header">DockerDeamon 
  <vaadin-combo-box id="comboBox" required></vaadin-combo-box>
  <vaadin-button id="refresh"></vaadin-button>
  <vaadin-button id="logs"></vaadin-button>
  <vaadin-button id="updateStatus"></vaadin-button></h3>
 <vaadin-grid id="grid" style="height:84%; width:68%"></vaadin-grid>
 <vaadin-dialog on-opened-changed="_onDialogOpen" id="dialog"></vaadin-dialog>
</div>
</template>

    <script>
        class ContainerView extends Polymer.Element {
            static get is() {
                return 'container-view';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(ContainerView.is, ContainerView);
    </script>
</dom-module>
